:not(pre) > code {
    color: #d33682;
    border: #fdf6e3;
}

ul {
    list-style-type: none;
}

blockquote.proof {
    /* border: solid #ccc; */
    /* border-width: 0 0 3px 3px; */
    ;
}

pre {
    background-color: transparent;
}

details {
    border: 0px solid gray;
    border-radius: 0.2em;
    padding: 0em;
}

summary {
    cursor: pointer;
}

summary > p {
    margin-top: 1.0em;
}

details[open] summary .expand-icon {
    visibility: hidden;
}

/* Emacs TODO keyword faces */

.todo {
    background-color: inherit;  /* disable default background-color */
}

.done {
    background-color: inherit;  /* disable default background-color */
}

.todo.TODO {
    color: #dc322f;  /* solarized red */
}

.todo.NEXT{
    color: #d33682;  /* solarized magenta */
}

.todo.FOLLOW{
    color: #268bd2;  /* solarized blue */
}

.todo.WAITING{
    color: #2aa198;  /* solarized cyan */
}

.todo.INACTIVE{
    color: #6c71c4;  /* solarized violet */
}

.done.CANCELLED{
    color: #859900;  /* solarized green */
}

.done.DONE{
    color: #859900;  /* solarized green */
}

@media screen {
    body {
        width: auto;
        margin: 0px;
        font-family: sans-serif;
    }
}
