blockquote {
    border-top: 3px dotted #ccc;
    border-bottom: 3px dotted #ccc;
}

:not(pre) > code {
    color: #d33682;
    border: #fdf6e3;
}

ul {
    list-style-type: none;
}

blockquote.proof {
    /* border: solid #ccc; */
    /* border-width: 0 0 3px 3px; */
    ;
}

pre {
    background-color: transparent;
}

details {
    border: 0px solid gray;
    border-radius: 0.2em;
    padding: 0em;
}

summary {
    cursor: pointer;
}

summary > p {
    margin-top: 1.0em;
}

details[open] summary .expand-icon {
    visibility: hidden;
}

@media screen {
    body {
        width: auto;
        margin: 0px;
        font-family: sans-serif;
    }
}
